bs4
datetime
flask
gspread==4.0.1
google-auth==2.6.0
google-auth-oauthlib==0.4.7
google-auth-httplib2==0.1.0
gspread_dataframe
gunicorn
oauth2client
openpyxl
pandas==1.3.3
python-decouple==3.5
requests
sendgrid
tchan
